* {
  margin: 0;
  padding: 0;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #60b8d4;
}

.top {
  transform: rotate(135deg);
  background: #ecaf81;
}

.bottom {
  transform: rotate(-135deg);
  background: #3745b5;
}

.top, .bottom, .top, .bottom {
  content: '';
  display: block;
  position: absolute;
  width: 200vmax;
  height: 200vmax;
  top: 50%;
  left: 50%;
  margin-top: -100vmax;
  transform-origin: 0 50%;
  z-index: 10;
  opacity: 0.65;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card {
  background-color: #fff;
  width: 950px;
  min-height: 320px;
  z-index: 10;
  backdrop-filter: blur(25px);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 20px 0 rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.3s;
  margin: 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -150px;
}

.translatorInput {
  padding: 15px 50px;
  border: none;
  border-radius: 10px;
  width: 70%;
  margin-top: 100px;
}

.translateBtn {
  padding: 15px 50px;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  background-color: #87CEEB;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .5s;
}

.translateBtn:hover {
  background-color: #73B0C9;
  cursor: pointer;
  transition: all .5s;
}

.logOutBtn {
  margin-bottom: 30px;
}

.translationContainer {
  width: 70%;
  height: 300px;
  margin-top: 40px;
  margin-bottom: 100px;
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.navlinks {
  z-index: 30;
}